.imad{
  width: 350px;
}

.con{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}